.content,
.side-info {
    margin: 16px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nav nav"
    "content side";
}

.share {
    display: flex;
    flex-direction: column;
}